/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*------------------------------------*\
	#TOOLS
\*------------------------------------*/
/*------------------------------------*\
	#GENERIC
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif !important;
}

body {
  font-family: "Lato", sans-serif !important;
}

/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/
.c-cls-1 {
  fill: url(#linear-gradient);
}

.c-cls-2 {
  fill: url(#linear-gradient-2);
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/
/*------------------------------------*\
	#BOOTSTRAP
\*------------------------------------*/
.nav-link {
  text-decoration: none !important;
}