/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*------------------------------------*\
	#TOOLS
\*------------------------------------*/
/*------------------------------------*\
	#GENERIC
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif !important;
}

body {
  font-family: "Lato", sans-serif !important;
}

/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/
.c-cls-1 {
  fill: url(#linear-gradient);
}

.c-cls-2 {
  fill: url(#linear-gradient-2);
}

.c-nav {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
}
.c-nav.--not-top {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media (min-width: 577px) {
  .c-mainvideo {
    width: auto;
    height: 324px;
  }
}
@media (min-width: 769px) {
  .c-mainvideo {
    width: auto;
    height: 432px;
  }
}
@media (min-width: 993px) {
  .c-mainvideo {
    width: auto;
    height: 556px;
  }
}
@media (min-width: 1201px) {
  .c-mainvideo {
    width: auto;
    height: 675px;
  }
}

.c-img {
  border-radius: 2rem;
}
.c-img__store {
  max-width: 80% !important;
}

.c-contact__reach--item {
  color: #fe5e06;
  text-decoration: none;
  transition: color 500ms;
}
.c-contact__reach--item:hover {
  color: #26adca;
}
.c-contact__location--item {
  color: #fe5e06;
}
.c-contact__hours--item {
  color: #fe5e06;
}

.c-carousel {
  height: 500px;
  color: #ffffff;
}
.c-carousel__1 {
  background-image: url(../images/Carousel_1.jpg);
  background-position: center;
}
.c-carousel__2 {
  background-image: url(../images/Carousel_2.jpg);
  background-position: center;
}
.c-carousel__3 {
  background-image: url(../images/Carousel_3.jpg);
  background-position: center;
}
.c-carousel__4 {
  background-image: url(../images/Carousel_4.jpg);
  background-position: center;
}
.c-carousel__text {
  display: flex;
  height: 500px;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 1601px) {
  .c-carousel__text {
    width: 440px !important;
  }
}
@media (min-width: 1601px) {
  .c-carousel__text--left {
    margin-left: 0px !important;
  }
}

.c-loc {
  color: #fe5e06;
}

.c-nieuwsbrief {
  height: 400px;
  color: white;
  background-image: url(../images/nieuwsbrief_BG.jpg);
  background-position: center;
}
.c-nieuwsbrief__txt {
  display: flex;
  height: 500px;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/
.u-link {
  text-decoration: none !important;
  color: #fe5e06 !important;
  transition: color 500ms;
}
.u-link:hover {
  color: #26adca !important;
}

/*------------------------------------*\
	#BOOTSTRAP
\*------------------------------------*/
.nav-link {
  text-decoration: none !important;
  color: #fe5e06 !important;
  transition: color 500ms;
}
.nav-link:hover {
  color: #26adca !important;
}

.accordion-item {
  font-family: "Lato", sans-serif;
  color: #fe5e06 !important;
}
.accordion-body {
  border: solid;
  border-width: 1px;
  border-color: #fe5e06 !important;
}
.accordion-button {
  color: #fe5e06 !important;
  background: none;
  border: solid;
  border-width: 1px;
  border-color: #fe5e06;
}
.accordion-button::after {
  filter: invert(51%) sepia(95%) saturate(3005%) hue-rotate(352deg) brightness(95%) contrast(112%);
}
.accordion-button:focus {
  color: #fe5e06;
  background: none !important;
  border: solid;
  border-width: 1px;
  border-color: #fe5e06;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background: none;
  color: #fe5e06 !important;
}

.btn-primary {
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: #fe5e06 !important;
  color: transparent;
  transition: background-color 250ms;
}
.btn-primary:hover {
  background-color: #26adca !important;
}

.carousel-indicators button {
  height: 1.5rem !important;
  width: 1.5rem !important;
  border-radius: 50%;
  background-color: #26adca !important;
}
.carousel-indicators button:not(.active) {
  filter: grayscale(100%);
}