/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/

// mixins
// Small devices
@mixin sm {
	@media (min-width: 577px) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: 769px) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: 993px) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: 1201px) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: 1601px) {
		@content;
	}
}

// importing fonts
// lora font
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
// Lato font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// variables for fonts
$font-body: 'Lato', sans-serif;
$font-headers: 'Lora', serif;

// variables for colors
$color-white: #ffffff;
$color-black: #000000;
$color-highlight-orange: #fe5e06;
$color-highlight-blue: #26adca;

/*------------------------------------*\
	#TOOLS
\*------------------------------------*/

/*------------------------------------*\
	#GENERIC
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headers !important;
}

body {
	font-family: $font-body !important;
}

/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/

/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/

// components of the logo svg
.c-cls-1 {
	fill: url(#linear-gradient);
}
.c-cls-2 {
	fill: url(#linear-gradient-2);
}

// navigation class
.c-nav {
	// to make it stick to the top and have a shadow border when it moves (Fixed header shadow)
	background: #fff;
	border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
	z-index: 99;
	&.--not-top {
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	}
}

.c-mainvideo {
	@include sm() {
		width: auto;
		height: 324px;
	}
	@include md() {
		width: auto;
		height: 432px;
	}
	@include lg() {
		width: auto;
		height: 556px;
	}
	@include xl() {
		width: auto;
		height: 675px;
	}
}

.c-img {
	border-radius: 2rem;
	&__store {
		max-width: 80% !important;
	}
}
.c-contact {
	&__reach {
		&--item {
			color: $color-highlight-orange;
			text-decoration: none;
			transition: color 500ms;
			&:hover {
				color: $color-highlight-blue;
			}
		}
	}
	&__location {
		&--item {
			color: $color-highlight-orange;
		}
	}
	&__hours {
		&--item {
			color: $color-highlight-orange;
		}
	}
}

.c-carousel {
	height: 500px;
	color: $color-white;
	&__1 {
		background-image: url(../images/Carousel_1.jpg);
		background-position: center;
	}
	&__2 {
		background-image: url(../images/Carousel_2.jpg);
		background-position: center;
	}
	&__3 {
		background-image: url(../images/Carousel_3.jpg);
		background-position: center;
	}
	&__4 {
		background-image: url(../images/Carousel_4.jpg);
		background-position: center;
	}
	&__text {
		display: flex;
		height: 500px;
		align-content: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		@include xxl() {
			width: 440px !important;
		}
		&--left {
			@include xxl() {
				margin-left: 0px !important;
			}
		}
	}
}

.c-loc {
	color: $color-highlight-orange;
}

.c-nieuwsbrief {
	height: 400px;
	color: white;
	background-image: url(../images/nieuwsbrief_BG.jpg);
	background-position: center;
	&__txt {
		display: flex;
		height: 500px;
		align-content: center;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}

.c-footer__bottom {
	background-color: #44c8f5 !important;
	margin: 0;
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/

//to make specific links look like others
.u-link {
	text-decoration: none !important;
	color: $color-highlight-orange !important;
	transition: color 500ms;

	&:hover {
		color: $color-highlight-blue !important;
	}
}

/*------------------------------------*\
	#BOOTSTRAP
\*------------------------------------*/

.nav-link {
	text-decoration: none !important;
	color: $color-highlight-orange !important;
	transition: color 500ms;

	&:hover {
		color: $color-highlight-blue !important;
	}
}

.accordion {
	&-item {
		font-family: $font-body;
		color: $color-highlight-orange !important;
	}
	&-body {
		border: solid;
		border-width: 1px;
		border-color: $color-highlight-orange !important;
	}
	&-button {
		color: $color-highlight-orange !important;
		background: none;
		border: solid;
		border-width: 1px;
		border-color: $color-highlight-orange;
		&::after {
			filter: invert(51%) sepia(95%) saturate(3005%) hue-rotate(352deg) brightness(95%) contrast(112%);
		}
		&:focus {
			color: $color-highlight-orange;
			background: none !important;
			border: solid;
			border-width: 1px;
			border-color: $color-highlight-orange;
			box-shadow: none !important;
		}
		&:not(.collapsed) {
			background: none;
			color: $color-highlight-orange !important;
		}
	}
}

.btn-primary {
	padding: 1rem;
	border-radius: 0.5rem;
	text-decoration: none;
	background-color: $color-highlight-orange !important;
	color: transparent;
	transition: background-color 250ms;
	&:hover {
		background-color: $color-highlight-blue !important;
	}
}

.carousel-indicators button {
	height: 1.5rem !important;
	width: 1.5rem !important;
	border-radius: 50%;
	background-color: $color-highlight-blue !important;

	&:not(.active) {
		filter: grayscale(100%);
	}
}
