/*------------------------------------*\
	#SETTINGS
\*------------------------------------*/

// importing fonts
// lora font
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
// Lato font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// variables for fonts
$font-body: 'Lato', sans-serif;
$font-headers: 'Lora', serif;

// variables for colors
$color-white: #ffffff;
$color-black: #000000;
$color-highlight-orange: #fe5e06;
$color-highlight-blue: #26adca;

/*------------------------------------*\
	#TOOLS
\*------------------------------------*/

/*------------------------------------*\
	#GENERIC
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-headers !important;
}

body {
	font-family: $font-body !important;
}

/*------------------------------------*\
	#ELEMENTS
\*------------------------------------*/

/*------------------------------------*\
	#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
	#COMPONENTS
\*------------------------------------*/

// components of the logo svg
.c-cls-1 {
	fill: url(#linear-gradient);
}
.c-cls-2 {
	fill: url(#linear-gradient-2);
}

/*------------------------------------*\
	#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
	#BOOTSTRAP
\*------------------------------------*/
